#background {
    background-image: url(assets/river_of_water_clipart.jpg);
    background-size: cover;
    height: full; 
}

.bio-bw-image {
    height: 500px;
    width: 500px;
}

.bio-image {
    height: 500px;
    width: 500px;
    opacity: 1;
    position: absolute;
}

.bio-image:hover {
    opacity: 0;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.card {
    opacity: .7;
    text-align: center;
    /* height: 300px;
    width: 500px; */
}

.card:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out; 
}

.contentContainer1 {
    text-align: center;
}

.introContainer {
    opacity: .6;
    text-align: center;
    
}

.introContainer:hover {
    opacity: .8;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}


@media screen and (max-width: 800px) {
    .bio-image {
        height: 300px;
        width: 300px;
    }
    .bio-bw-image {
        height: 300px;
        width: 300px;
    } 

    }

.name {
    color: rgb(56, 29, 29);
    font-family: 'Staatliches', cursive;
    font-size: 100px;
}


#navbar-background {
    background-image: url(assets/zones-of-change.jpg);
    /* opacity: .8; */
}

.projectTitle {
    color:  rgb(56, 29, 29);
    font-weight: bold;
}

.sectionTitle {
    text-align: center;
    color: white;
    font-size: 20px;
}

.title {
    color: rgb(16, 159, 255);
    font-size: 30px;
}